<!DOCTYPE html>
<html lang="ja">

<head>
  <title>sign up</title>
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0" />

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
    integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

  <link type="text/css" rel="stylesheet" href="/static/css/froala_blocks.css">
</head>

<body>
  <section class="fdb-block">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-8 col-xl-6">
          <div class="row">
            <div class="col text-center">
              <h1>Sign Up</h1>
              <p class="lead">サイトへようこそ。</p>
              <p>アカウントを持っていない方は作成してください。</p>
            </div>

          </div>

          <form action=" {%url 'loginauth:create_user' %}" method="post">
            {% csrf_token %}
            <div class="row align-items-center">
              <div class="col mt-4">
                <input type="text" class="form-control" name="username" placeholder="User Name">
              </div>
            </div>
            <div class="row align-items-center mt-4">
              <div class="col">
                <input type="email" class="form-control" name="email" placeholder="Email">
              </div>
            </div>

            <div class="row align-items-center mt-4">
              <div class="col">
                <input type="password" class="form-control" name="password1" placeholder="Password">
              </div>
              <div class="col">
                <input type="password" class="form-control" name="password2" placeholder="Confirm Password">
              </div>
            </div>
              <button type="submit" class="btn btn-primary mt-4 w-100" >Submit</button>
            <div class="text-left">
              <button class="btn btn-right btn-secondary mt-4" onclick="location.href='/login'">Log In</button>
            </div>
          </form>


        </div>
      </div>
    </div>
  </section>
</body>

</html>