

<!-- Forms 5 -->
<section class="fdb-block py-0">
  <div class="container py-5 my-5" style="background-image: url(imgs/shapes/4.svg);">
    <div class=" row justify-content-end">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5 text-left">
        <div class="fdb-box">
          <div class="row">
            <div class="col">
              <h1>Log In</h1>
              <p class="lead">Right at the coast of the Semantics, a large language ocean. A small river named Duden.</p>
            </div>
          </div>
          <div class="row">
            {% if form.errors  %}
            <p>ユーザーID, パスワードが一致しません．</p>
            {% endif %}
            <form method="POST" action="{% url 'loginauth:login' %}">
              {% csrf_token %}
            <div class="col mt-4">
              <label>User ID</label>
              {{ form.username }}
              {{ form.username.errors }}
            </div>
          </div>
          <div class="row mt-4">
            <div class="col">
              <label>PassWord</label>
              {{ form.password }}
              {{ form.password.errors }}
            </div>
          </div>
          <div class="row mt-4">
            <div class="col">
              <button class="btn btn-secondary"  type="submit">Log In</button>
            </div>
          </div>
    </form>

        </div>
      </div>
    </div>
  </div>
</section>